<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a SUB!</h1>
    <%= render 'form', sub: @sub, method: 'POST', url: "#{subs_url}" %>

  </body>
</html>
